body {
    background: #e5e5e5;
    font-family: "Inter";
    font-style: normal;
  }
  
  .center {
    margin: 0 auto;
  }
  
  .version {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #0b2239;
    opacity: 0.3;
  }
  
  .mainText {
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 900;
    font-size: 110px;
    line-height: 133px;
    color: #0b2239;
  }
  
  .MyName {
    margin-top: 17px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #0b2239;
    opacity: 0.3;
  }
  
  .CookieBanners {
    margin-top: 262px;
    margin-left: 24px;
    position: absolute;
    width: 1123px;
    height: 133px;
    font-weight: 900;
    font-size: 110px;
    line-height: 133px;
    display: flex;
    align-items: center;
    color: #0b2239;
  }
  .footer1{
    margin-top: 450px;
    width: 1200px;
    height: 40px;
    padding: 16px 120px;
    line-height: 40px;
    background: #0B2239;
  }

  .footertext1{
    display: inline-block;
    width: 910px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    vertical-align: middle;
  }
.cookiesetting{
    display: inline-block;
    font-family: 'Inter';
    text-decoration-line: underline;
    color: #4AD295;
    font-size: 12px;
    margin-left: 42px;
   vertical-align: middle;
}

.button1{
    display: inline-block;
    margin-left: 20px;
    width: 130px;
    height: 36px;
    background: #4AD295;  
    font-family: 'Inter';
    font-size: 12px;
    color: #FFFFFF;  
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    border-radius: 2px;
}

.footer2{
    display: inline-block;
    margin-top: 24px;
    width: 1440px;
    height: 30px;
    padding: 16px 0;
    line-height: 30px;
    text-align: center;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgb(96 96 96 / 15%), 0px 0px 1px rgb(96 96 96 / 10%);
}
    
.footertext2{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 8px;
    vertical-align: middle;
    line-height: 1
}

.footer3{
    display: inline-block;
    margin-top: 72px;
    width: 560px;
    height: 40px;
    padding: 16px;
    line-height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    vertical-align: middle;
}
.img-background{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
    line-height: 36px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 8px;
    line-height: 30px;
}

.description{
    display: inline-block;
    width: 347px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    vertical-align: middle;
    margin-left: 10px;
}
.fc{
    display: inline-block;
    color: #EA4C89;
}

.decline{
    display: inline-block;
    margin-left: 10px;
    width: 63px;
    height: 38px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
}

.allow{
    display: inline-block;
    margin-left: 10px;
    width: 52px;
    height: 38px;
    background: #EA4C89;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.footer4{
    
    margin-top: 24px;
    width: 560px;
    height: 28px;
    padding: 12px 16px;
    line-height: 20px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    vertical-align: middle;
}

.desc-text{
    display: inline-block;
    margin-left: 16px;
    width: 469px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 15px;
}

.ok-button{
    display: inline-block;
    margin-left: 10px;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    
    vertical-align: top;
    text-align: center;
    line-height: 28px;
}
.footer45{
    margin-top: 72px;
}

.footer451{
    display: inline-block;
    width: 312px;
    height: 158px;
    padding: 24px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
}
.cook{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.head-cook{
    display: inline-block;
    width: 121px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    vertical-align: top;
}

.desc-cook{
    display: inline-block;
    width: 312px;
    height: 80px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}


.manage-cookie{
    display: inline-block;
    margin-top: 24px;
    width: 160px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.accept-button{
    display: inline-block;
    margin-left: 60px;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    line-height: 32px;
}

.footer452{
    display: inline-block;
    margin-left: 40px;
    padding: 16px;
    width: 328px;
    height: 138px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    vertical-align: top;
}

.head-cook2{
    display: inline-block;
    width: 132px;
    height: 20px;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    vertical-align: top;
}

.desc-cook2{
    display: inline-block;
    width: 328px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
}

.button-manage{
    display: inline-block;
    margin-top: 16px;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    text-align: center;
    line-height: 32px;
}
.button-accept{
    display: inline-block;
    margin-top: 16px;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    text-align: center;
    line-height: 32px;
}

.footer67{
    margin-top: 72px;
}

.footer671{
    display: inline-block;
    width: 256px;
    height: 196px;
    padding: 32px;
   
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
}

.head-text671{
    display: inline-block;
    width: 104px;
    height: 48px;
    margin-left: 62px;
    font-family: 'Roboto';
    font-style: black 900;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
}

.desc-text671{
    display: inline-block;
    width: 256px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
}
.button-accept671{
    display: inline-block;
    margin-top: 32px;
    margin-left: 62px;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
}
.footer672{
    display: inline-block;
    width: 288px;
    height: 105px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    vertical-align: top;
    margin-left: 40px;
}

.desc-text672{
    display: inline-block;
    width: 288px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.privacity{
    display: inline-block;
    margin-top: 20px;
    width: 95px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
}
.button-accept672{
    display: inline-block;
    margin-left: 115px;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}